.SingleTodo{
  display: flex;
  padding: 0.8em;
  border: 1px solid black;
  background-color: white;
  margin-bottom: 0.6rem;
}

.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 3;
}

.textContainer--description {
  margin-top: 0.8rem;
}

.buttonContainer {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-end;
}
