.App {
  display: flex;
  padding: 2rem;
  border: 1px solid black;
  font-family: 'Comic Sans MS';
  font-size: 1rem;
  text-align: center;
}

.App > * {
  flex: 1;
}

.App__addTask {
  display: flex;
  align-items: flex-start;
  min-height: 50vh;
}

.App__addTask--content {
  display: flex;
  height: auto;
  align-items: center;
}

.App__addTask--content h1 {
  font-size: 20px;
}

.App__addTask--content .button {
  margin-left: 1rem;
}

.TodoList {
  flex: 3;
}
